@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-white font-[Poppins] overflow-x-hidden;
  }
}
