@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply  text-white font-[Poppins] text-sm md:text-base; ;
  }
}
