@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply  text-white font-[Poppins] text-sm md:text-base; ;
  }
}



.logo-color-change {
  animation: colorShift 6s linear infinite;
}

@keyframes colorShift {
  0% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(360deg); }
}





