@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply  text-white font-[Poppins] text-sm md:text-base; ;
  }
}



.logo-color-change {
  animation: imgColorShift 6s linear infinite;
}

.loop-type {
    display: inline-block;
    white-space: pre; 
    min-height: 1.5rem; 
}


@keyframes imgColorShift {
  0% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);   /* Yellow */
  }
  25% {
    filter: brightness(2) saturate(0);                    /* White */
  }
  50% {
    filter: brightness(0) saturate(0);                    /* Black */
  }
  75% {
    filter: brightness(1) saturate(1) hue-rotate(-50deg); /* Red */
  }
  100% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);   /* Yellow */
  }
}







